/**
* Resetting CSS settings
*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/**
* Sidebar style for most sizes
*/
.nav-general {
  margin: auto;
  font-size: $font-size-navigation;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  .nav-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .page-link {
    text-decoration: none;
    line-height: 50px;
  }
}
