/**
* Resetting CSS settings
*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/**
* Sidebar style for most sizes
*/
.nav-general {
  margin: auto;
  font-size: $font-size-navigation;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  .nav-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .page-link {
    text-decoration: none;
    line-height: 50px;

    // Hover effects for desktop media
    &::after {
      content: "";
      display: block;
      margin: -5px auto 0 auto;
      height: 2px;
      width: 0px;
      background: transparent;
      transition: width 0.5s ease, background-color 0.5s ease;
    }

    &:hover:after {
      width: 100%;
      background: white;
    }
  }
}
