@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap");

$font-title: "Source Sans Pro", sans-serif;
$font-text: "Open Sans", sans-serif;

body {
  font-family: $font-text;
  font-size: $font-size-default;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sidebar-profile-name,
.nav-general {
  font-family: $font-title;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.9em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.1em;
}
