/**
* CSS reset for all needed classes
*/
*,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  height: 100vh;
  width: 100%;
  background: $color-main-background;
  color: $color-text-inverted;

  a {
    color: $color-link;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: 15px;
}

.post {
  display: inline-block;
  width: 70%;
  margin-left: 15px;
  position: relative;
}

.container {
  display: inline;
}

.post-meta {
  display: none !important;
}
