/**
* CSS reset for all needed classes
*/
*,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  height: 100vh;
  width: 100%;
  background: $color-main-background;
  color: $color-text-inverted;

  a {
    color: $color-link;
  }
}

/**
* Grid system for mobile and desktop
*/
@media screen and (max-width: $media-mobile) {
  body {
    .sidebar {
    }

    .homepage-container {
    }

    .post-container {
    }

    .page-container {
    }

    .portfolio-container {
    }
  }
}

@media screen and (min-width: $media-desktop) {
  body {
    .homepage-container {
    }

    .post-container {
    }

    .page-container {
    }

    .portfolio-container {
    }
  }
}
